<div id="reviews">
  <h6 class="product-section-title"><%= t(:reviews) %></h6>
  <%= render :partial => 'spree/shared/rating', :locals => {:product => @product, :review => 0} %>
  <% for review in @product.reviews.approval_filter %>
    <%= render :partial => 'spree/shared/review', :locals => {:review => review} %>
  <% end %>
  <% order_ids = current_user.orders.where(:state => "completed").pluck(:id) %>
 	<% can_write_review = Spree::LineItem.where(order_ids).pluck(:variant_id).include?(Spree::Variant.find_by_product_id(@product.id).id) %>
  <% if (!Spree::Reviews::Config[:require_login] || current_user) and can_write_review %>
    <%= link_to t('write_your_own_review'), new_product_review_path(@product), :class => "button",
                :rel => "nofollow,noindex" %>
  <% end %>
</div>
